.nav {
    height: 50px;
    width: 900px;
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.active {
    color: white;
}
.nav a {
    padding: 1em;
    align-items: flex-end;
    color: lightgray;
    /* list-style: none; */
    text-decoration: none;
}
.nav-title {
    /* display: flex;
    align-items: center; */
    margin: 20px;
    /* justify-content: flex-start; */
}
.nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}
.btn {
    height: 25px;
    width: 100px;
    border: 2px solid black;
    color: white;
    background-color: lightblue;
    margin: 20px;
    font-size: 1em;
}